{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% load staticfiles %}
<!-- Checkbox de Asistencia -->
<div>
    <div class="checkbox checkbox-primary checkbox-circle" style="margin-top: 22px; margin-left: 37px; font-size: 20px">
        <input type="checkbox" id="checkPresence" onchange="pupilFollow()">
        <label style="position:absolute">Asistencia</label>
    </div>
</div>
<div style="width: 860px; float:right;">
    <!-- Seleccion de día -->
    <div class="col-sm-8" style="width: 190px; margin-right: 20px;">
        <div class="input-group" >
            <input class="form-control datepicker" placeholder="yyyy-mm-dd" id="datepicker" type="text" value="2016-07-01">
            <!--            <span class="input-group-addon bg-primary b-0 text-white"><i class="ion-calendar"></i></span>-->
        </div>
    </div>
    <!-- Dropdown de Curso -->
    <select class=" form-control js-example-basic-single " id="cbxCourse" onchange="courseChanged(this.value)" style="width: 190px; margin-right: 20px;">
        <option class="default-text" value="">Curso</option>
        {% for i in courses %} 
        <option value={{i.idCourse}}>{{i.courseType}}º año "{{i.courseDivision}}"</option>
        {% endfor %}       
    </select>   
    <!-- Dropdown de Materia -->
    <select class=" form-control js-example-basic-single " id="cbxSubject" onchange="subjectChanged(this.value)" style="width: 190px;margin-right: 20px;">
        <option value="" class="default-text">Materia</option>
    </select>
    <!-- Dropdown de Alumno -->
    <select class=" form-control js-example-basic-single " id="cbxPupil" onchange="pupilChanged(this.value)" style="width: 190px;margin-right: 20px;">
        <option value="" class="default-text">Alumno</option>
    </select>        
</div>

<!-- Tabla de Control -->
<div class="card-box" style="width: 700px;margin-top: 76px; position:absolute;margin-left: 25px;">
    <div class="container">
        <h2>Area de Control</h2>        
        <table class="table table-striped" id="tbleCon">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Control</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<!-- Textarea de Observaciones -->    
<div class="form-group" style="margin-left: 761px;">
    <label for="obsAlum" style="margin-top: 15px;">Observaciones</label>
    <textarea class="form-control" rows="5" id="obsAlum" style="width: 590px; height: 335px;backgroun-color:red;" onchange="pupilFollow()"></textarea>
</div>



<!-- Tabla de Seguimiento de Alumno  -->
<div class="card-box">
    <div class="panel">
        <h1>Seguimiento Alumno</h1>
        <div class="panel-body">
            <div class="col-sm-6" style="float:right;width: 178px;margin-top: -80px;">
                <select class="form-control js-example-basic-single" id="cbxProject" onchange="projectChanged()"  style="left: -71px; position: relative;" disabled="true">
                    <option value="zoidberg" class="default-text">Proyecto</option>
                </select>
                <button id="addProject" data-target="#addProjectModal" data-toggle="modal" style="display: inline; left: 106px; top: -32px;"      type="button" class="sm btn-primary waves-effect waves-light" disabled="true">
                    <i class="fa fa-plus"></i>
                </button>
                <button id="delProject" data-target="#delProjectModal" data-toggle="modal" style="display: inline; left: 108px; top: -32px;"  type="button" class="sm btn-primary waves-effect waves-light" disabled="false">
                    <i class="fa fa-minus"></i>
                </button>
            </div>

            <!-- Modal Create Project-->
            <div id="addProjectModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Crear nuevo Projecto</h4>
                        </div>
                        <div class="modal-body">
                            <input class="form-control" id="projectName" maxlength="128" name="projectName" placeholder="Nombre del Projecto" type="text">
                        </div>
                        <div class="modal-footer">
                            <button id="projectSender" type="button" class="btn btn-default" data-dismiss="modal">Crear</button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Modal Delete Project-->
            <div id="delProjectModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Borrar Projecto</h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Seguro que desea borrar este projecto? (Se borraran todas las etapas de todos los alumnos)</p>
                        </div>
                        <div class="modal-footer">
                            <button id="projectDeleter" type="button" class="btn btn-default" data-dismiss="modal">Borrar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Delete Project Complete-->
            <div id="delProjectModalSuccess" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Éxito!</h4>
                        </div>
                        <div class="modal-body">
                            <p id="delProjectResult"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
            <table aria-describedby="datatable-editable_info" role="grid" class="table table-striped dataTable no-footer" id="tblData">
                <thead>
                    <tr role="row">
                        <th aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 225px;" colspan="1" rowspan="1" aria-controls="datatable-editable" tabindex="0" class="sorting_asc">Etapas</th>
                        <th aria-label="Browser: activate to sort column ascending" style="width: 286px;" colspan="1" rowspan="1" aria-controls="datatable-editable" tabindex="0" class="sorting">Nota</th>
                        <th aria-label="Platform(s): activate to sort column ascending" style="width: 257px;" colspan="1" rowspan="1" aria-controls="datatable-editable" tabindex="0" class="sorting">Clases Utilizadas</th>
                        <th aria-label="Actions" style="width: 116px;" colspan="1" rowspan="1" class="sorting_disabled"></th>
                    </tr>

                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="row" style="margin-left:1206px;">
            <div class="col-sm-6">
                <div class="m-b-30">
                    <button id="btnAdd" data-target="#addProjectStageModal" data-toggle="modal" style="margin-top: 25px; position: relative; left: 14px;" class="btn btn-primary waves-effect waves-light" disabled="true"><i class="fa fa-plus"></i></button>
                </div>   
            </div>
        </div>
        <!-- Modal Create Stage-->
        <div id="addProjectStageModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Crear nueva Etapa</h4>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" id="inputStage" maxlength="128" name="projectName" placeholder="Nombre de la Etapa" type="text">
                        <label><input type="checkbox" id="bxAddStage" checked="checked">Para Todos</label>
                    </div>
                    <div class="modal-footer">
                        <button id="stageCreator" onclick="save()" type="button" class="btn btn-default" data-dismiss="modal">Crear Etapa</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal Edit Stage  -->
        <div id="editStage" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Editar Etapa</h4>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" id="inputEditStage" maxlength="128" name="editProjectName" placeholder="Nombre de la Etapa" type="text">
                        <label><input type="checkbox" id="bxEditStage" checked="checked">Editar el nombre de esta etapa para todos los alumnos</label>
                        <input class="form-control" id="inputNewCalificationStage" maxlength="1" name="editProjectName" placeholder="Nota" type="text">
                        <input class="form-control" id="inputClassesStage" maxlength="5" name="editProjectName" placeholder="Cantidad de Clases" type="text">
                        <span id="idEditStage" style="display:none"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="saveStageModal()" class="btn btn-default" data-dismiss="modal">Guardar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal Delete Stage-->
    <div id="delStageModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Borrar Etapa</h4>
                </div>
                <div class="modal-body">
                    <p>¿Seguro que desea borrar esta etapa?</p>
                    <span id="idDelStage" style="display:none"></span>
                </div>
                <div class="modal-footer">
                    <button id="stageDeleter" onclick="StageDeleter()" type="button" class="btn btn-default" data-dismiss="modal">Borrar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Delete Stage Complete-->
    <div id="delStageModalSuccess" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Éxito!</h4>
                </div>
                <div class="modal-body">
                    <p id="delProjectResult"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Boton Siguiente Alumno -->
    <nav style="margin-left: 1125px; margin-top: 10px;">
        <ul class="pager">
            <li><a href="#">Siguiente Alumno</a></li>
        </ul>
    </nav>

    <!-- Boton Trabajo Terminado -->
    <nav style="position: absolute; margin-left: 30px; margin-top: -65px;">
        <ul class="pager">
            <li><a href="#">Trabajo Terminado</a></li>
        </ul>
    </nav>
    <script src="{% static 'js/jquery-1.11.1.min.js'%}"></script>
    <script>
        function pupilFollow(val){
            presencePff =  $('#checkPresence').prop('checked');
            if (presencePff == false){
                $('.checkCont').prop('disabled',true)

            }else{
                $('.checkCont').prop('disabled',false)
            }
            $.ajax({
                url: "{% url 'app_testapp:seg-al' %}", 
                type: 'GET',
                data: {idPupil: $('#cbxPupil').val(), idSubject: $('#cbxSubject').val(), assist: presencePff, date: $('#datepicker').val(), queryId: "pupilFollow",commentPF: $('#obsAlum').val()},
                dataType: 'json'});
            return;
        }
        //Envio de datos para la creacion de otro projecto
        $("#projectSender").click(
            function(){
                if($('#projectName').val()!=""){
                    $.ajax({
                        url: "{% url 'app_testapp:seg-al' %}", 
                        type: 'GET',
                        data: {nameProject: $('#projectName').val(),idSubject: $('#cbxSubject').val(), queryId: "newProject"},
                        success: function(){
                            refreshProjects();
                            $('#cbxProject').val($('#projectName').val());
                            console.log($('#projectName').val());
                            $('#projectName').val("");
                            console.log($('#cbxProject').val());    
                        }
                    });
                }else{
                    alert("Debe completar el campo.");
                }
            });

        //Función
        $("#projectDeleter").click(
            function(){
                if($('#cbxProject').val()!="zoidberg"){
                    $.ajax({
                        url: "{% url 'app_testapp:seg-al' %}", 
                        type: 'GET',
                        data: {nameProject: $('#cbxProject').val(),idSubject: $('#cbxSubject').val(), queryId: "delProject"},
                        success: function(info){
                            refreshProjects();
                            $('#delProjectModalSuccess').modal('show');
                            $('#delProjectResult').text(info);
                        }
                    });
                }
            });

        function courseChanged(val){
            $("#tbleCon tbody").remove();
            $("#cbxSubject").val("").change();
            $("#cbxPupil").val("").change();
            if(val==""){
                var lengthCbx = $('#cbxSubject > option').length;
                $('#cbxSubject').empty();
                $('#cbxPupil').empty();
                $('#cbxSubject').append(new Option("Materia", ""));
                $('#cbxPupil').append(new Option("Alumno", ""));
                return;
            }
            $.ajax({
                url: "{% url 'app_testapp:seg-al' %}", 
                type: 'GET',
                data: {idCourse: $('#cbxCourse').val(), queryId: "subjects"},
                dataType: 'json',
                success: function(info){
                    $('#cbxSubject').empty();
                    $('#cbxSubject').append(new Option("Materia", ""));
                    for(var i=0;i<info.length;i++){
                        var text = info[i].fields.nameSubject;
                        var value = info[i].pk;
                        $('#cbxSubject').append(new Option(text, value));
                    }
                }});
            $.ajax({
                url: "{% url 'app_testapp:seg-al' %}", 
                type: 'GET',
                data: {idCourse: $('#cbxCourse').val(), queryId: "pupils"},
                dataType: 'json',
                success: function(info){
                    $('#cbxPupil').empty();
                    $('#cbxPupil').append(new Option("Alumno", ""));
                    for(var i=0;i<info.length;i++){
                        var text = info[i].fields.namePupil + " " +info[i].fields.surnamePupil;
                        var value = info[i].pk;
                        $('#cbxPupil').append(new Option(text, value));
                    }}});
            return;
        }
        function subjectChanged(val){
            if($("#cbxSubject").val() == ""){
                $("#cbxPupil").val("");
                return;
            }
            $.ajax({
                url: "{% url 'app_testapp:seg-al' %}", 
                type: 'GET',
                data: {idSubject: $('#cbxSubject').val(), queryId: "fulfillments"},
                dataType: 'json',
                success: function(info){
                    $("#tbleCon tbody").remove();
                    for(var i=0;i<info[0].fields.nameFF.length;i++){
                        var tbody = $('#tbleCon').children('tbody');
                        var table = tbody.length ? tbody : $('#tbleCon');
                        table.append('<tr><td id="row' + i +'">' + info[0].fields.nameFF[i] + '</td><td><div class="checkbox checkbox-success checkbox-circle"><input type="checkbox" id="rowCheck' + i +'"><label></label></div></td></tr>');
                    }
                }});

            return;
        }
        function refreshProjects(){
            //Cambiar a la opcion por DEFAULT
            $("#cbxProject").val("zoidberg").change();
            $.ajax({
                url: "{% url 'app_testapp:seg-al' %}", 
                type: 'GET',
                data: {idSubject: $('#cbxSubject').val(), queryId: "projects"},
                dataType: 'json',
                success: function(info){
                    //-------Carga de Projectos-------
                    //Vacia el cbx de Projectos
                    $('#cbxProject').empty();
                    //Agrega el valor DEFAULT
                    $('#cbxProject').append(new Option("Projecto","zoidberg"));
                    $('#cbxProject').val('zoidberg');

                    //Recorre todos los "Projectos"
                    for(var i=0;i<info.length;i++){
                        //"Value" es el nombre del projecto
                        var value = info[i].fields.nameProject;
                        //"Text" es el id de la materia a la que esta asignada el projecto (asi es,Chucho)
                        var text = info[i].pk;  
                        //Agrega el projecto al cbx (si Chucho, podes getear el id del projecto del value del actual elemento en el cbx)
                        $('#cbxProject').append('<option value='+text+'>'+text+'</option>');
                    }
                }});
        }
        function projectChanged(){
            $('#tblData tbody').empty();
            if($('#cbxProject').val()!="zoidberg"){
                $("#btnAdd").attr('disabled',false);
                $("#delProject").attr('disabled',false);
                $.ajax({
                    url: "{% url 'app_testapp:seg-al' %}", 
                    type: 'GET',
                    data: {idProject: $('#cbxProject').val(), idPupil: $('#cbxPupil').val(), queryId: "getStages"},
                    dataType: 'json',
                    success: function(info){
                        //Recorre todos los "Stages"
                        for(var i=0 ;i<info.length;i++){
                            //"nameStage" es el nombre de la etapa 
                            var nameStage = info[i].fields.namePS;
                            var note = info[i].fields.calification;
                            var clases = info[i].fields.classes;
                            var idStage = info[i].pk;
                            $("#tblData tbody").append(
                                "<tr id="+idStage+" class='trStage'>"+
                                "<td>" + nameStage + "</td>"+
                                "<td>"+note+"</td>"+
                                "<td>"+clases+"</td>"+
                                "<td><button data-toggle='modal' onclick='editModal(this)' class='btnEdit btn-sm btn-primary waves-effect waves-light'><i class='fa fa-pencil'></i></button>"+
                                "<button style='left:10px' data-toggle='modal' onclick='deleteStage(this)' class='btnEdit btn-sm btn-primary waves-effect waves-light'><i class='fa fa-trash'></i></button></td>"+
                                "</tr>");
                        }
                    }});
            }else{
                $("#delProject").attr('disabled',true);   
                $("#btnAdd").attr('disabled',true);
            }

        }
        function deleteStage(coso){
            $("#delStageModal").modal("show");
            fila=$(coso).parent().parent();
            idOfThisStage=$(coso).parent().parent().attr('id');
            $("#idDelStage").text(idOfThisStage);
        }
        function StageDeleter(){
            var data={
                csrfmiddlewaretoken: '{{ csrf_token }}',
                idStage: $("#idDelStage").text(),
                queryId: "deleteStage",
            }
            $.ajax({
                url: "{% url 'app_testapp:seg-al' %}", 
                type: 'GET',
                data: data,
                success:function(){
                    $("#delStageModalSuccess").modal("show");
                    projectChanged();
                }
            });
        }
        function editModal(coso){
            $("#editStage").modal("show");
            fila=$(coso).parent().parent();
            stageName=$("td:first-child", fila).text();
            $("#inputEditStage").val(stageName);
            stageCalification=$("td:nth-child(2)", fila).text();
            $("#inputNewCalificationStage").val(stageCalification);
            stageClasses=$("td:nth-child(3)", fila).text();
            $("#inputClassesStage").val(stageClasses);
            idOfThisStage=$(coso).parent().parent().attr('id');
            console.log(idOfThisStage);
            $("#idEditStage").text(idOfThisStage);
        }
        
        function saveStageModal(){
            console.log($("#inputEditStage").val());
            console.log($("#idEditStage").text());
            
            if($('#bxEditStage').is(":checked")) {
                todos=1
                console.log("es verdadero")
            } else {
                todos=0
                console.log("es falso")
            }
            var data={
                csrfmiddlewaretoken: '{{ csrf_token }}',
                newStageName: $("#inputEditStage").val(),
                idStage: $("#idEditStage").text(),
                queryId: "editStage",   
                nameProject: $('#cbxProject').val(),
                todos: todos,
                idPupil: $('#cbxPupil').val(),
                idCourse: $('#cbxCourse').val(),
                calification: $('#inputNewCalificationStage').val(),
                classesUsed: $('#inputClassesStage').val(),
            }
            $.ajax({
                url: "{% url 'app_testapp:seg-al' %}", 
                type: 'GET',
                data: data,
                success:function(){
                    projectChanged();
                }
            });
        }


        function pupilChanged(val){
            if($("#cbxPupil").val() == ""){
                return;
            }
            $('#checkPresence').prop('checked', false);
            $('#obsAlum').val("");
            $.ajax({
                url: "{% url 'app_testapp:seg-al' %}", 
                type: 'GET',
                data: {idPupil: $('#cbxPupil').val(), idSubject: $('#cbxSubject').val(), date: $('#datepicker').val(), queryId: "pupilFollowing"},
                dataType: 'json',
                success: function(info){
                    var presence = info[0].fields.presencePF;
                    var observations = info[0].fields.commentPF;
                    $('#checkPresence').prop('checked', presence);
                    $('#obsAlum').val(observations);
                    refreshFF(info);
                }});
            if($('#cbxPupil').val()!=""){
                $("#cbxProject").attr('disabled',false);
                $("#addProject").attr('disabled',false);
                refreshProjects();
            }
            return;
        }

        function refreshFF(info){
            $.ajax({
                url: "{% url 'app_testapp:seg-al' %}", 
                type: 'GET',
                data: {idPF:info[0].pk, queryId: "CheckFF"},
                dataType: 'json',
                success: function(info){
                    var rowCount = $('#tbleCon tbody tr').length;
                    var dbbCount = info.length;
                    for(var i=0;i<rowCount;i++){
                        var rowText = $("#tbleCon #row" + i).text();
                        var exists = false;
                        for(var x=0;x<dbbCount;x++){
                            var dbbValue = info[x].fields.check;
                            var dbbText = info[x].fields.nameFF;
                            if(rowText == dbbText){
                                exists = true;
                                $("#tbleCon #rowCheck" + i).prop('checked', dbbValue);
                            }
                            if(!exists){
                                console.log("CREAR EN DBB: \t" + rowText);
                            }
                        }
                    }
                }
            });
        }

        function save(){
            if($('#bxAddStage').is(":checked")) {
                todos=1
                console.log("es verdadero")
            } else {
                todos=0
                console.log("es falso")
            }
            var data={
                csrfmiddlewaretoken: '{{ csrf_token }}',
                dato1:$('#inputStage').val(),
                queryId: "projectStage",
                nameProject: $('#cbxProject').val(),
                todos: todos,
                idPupil: $('#cbxPupil').val(),
                idCourse: $('#cbxCourse').val(),
            }
            $.ajax({
                url: "{% url 'app_testapp:seg-al' %}", 
                type: 'GET',
                data: data,
            });
            $('#inputStage').val("");
            projectChanged();
        }
    </script>
    {% endblock %}