{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<!-- Checkbox de Asistencia -->
<div>
    <div class="checkbox checkbox-primary checkbox-circle" style="margin-top: 22px; margin-left: 37px; font-size: 20px">
        <input type="checkbox" id="checkPresence" onchange="changeAssist(this.value)">
        <label style="position:absolute">Asistencia</label>
    </div>
</div>
<div style="width: 860px; float:right;">
    <!-- Seleccion de día -->
    <div class="col-sm-8" style="width: 190px; margin-right: 20px;">
        <div class="input-group" >
            <input class="form-control datepicker" placeholder="yyyy-mm-dd" id="datepicker" type="text">
            <!--            <span class="input-group-addon bg-primary b-0 text-white"><i class="ion-calendar"></i></span>-->
        </div>
    </div>
    <!-- Dropdown de Curso -->
    <select class=" form-control js-example-basic-single " id="cbxCourse" onchange="courseChanged(this.value)" style="width: 190px; margin-right: 20px;">
        <option class="default-text" value="">Curso</option>
        {% for i in courses %} 
        <option value={{i.idCourse}}>{{i.courseType}}º año "{{i.courseDivision}}"</option>
        {% endfor %}       
    </select>   
    <!-- Dropdown de Materia -->
    <select class=" form-control js-example-basic-single " id="cbxSubject" onchange="subjectChanged(this.value)" style="width: 190px;margin-right: 20px;">
        <option value="" class="default-text">Materia</option>
    </select>
    <!-- Dropdown de Alumno -->
    <select class=" form-control js-example-basic-single " id="cbxPupil" onchange="pupilChanged(this.value)" style="width: 190px;margin-right: 20px;">
        <option value="" class="default-text">Alumno</option>
    </select>        
</div>

<!-- Tabla de Control -->
<div class="card-box" style="width: 700px;margin-top: 76px; position:absolute;margin-left: 25px;">
    <div class="container">
        <h2>Area de Control</h2>        
        <table class="table table-striped" id="tbleCon">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Control</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<!-- Textarea de Observaciones -->    
<div class="form-group" style="margin-left: 761px;">
    <label for="obsAlum" style="margin-top: 15px;">Observaciones</label>
    <textarea class="form-control" rows="5" id="obsAlum" style="width: 590px; height: 335px;backgroun-color:red;"></textarea>
</div>



<!-- Tabla de Seguimiento de Alumno  -->
<div class="card-box">
    <div class="panel">
        <h1>Seguimiento Alumno</h1>
        <div class="panel-body">


            <div class="col-sm-6" style="margin-left: 1005px; width: 178px;margin-top: -80px;">
                <div>
                    <select class=" form-control js-example-basic-single " id="cbxProject" onchange="projectChanged(this.value)" style="width: 190px; margin-right: 20px;">
                        <option class="default-text" value="">Proyecto</option>
                        {% for i in proyectos %}
                        <option value={{i.nameProject}}>{{i.nameProject}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

        </div>
    </div>


    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
            <table aria-describedby="datatable-editable_info" role="grid" class="table table-striped dataTable no-footer" id="tblData">
                <thead>
                    <tr role="row">
                        <th aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 225px;" colspan="1" rowspan="1" aria-controls="datatable-editable" tabindex="0" class="sorting_asc">Etapas</th>
                        <th aria-label="Browser: activate to sort column ascending" style="width: 286px;" colspan="1" rowspan="1" aria-controls="datatable-editable" tabindex="0" class="sorting">Nota</th>
                        <th aria-label="Platform(s): activate to sort column ascending" style="width: 257px;" colspan="1" rowspan="1" aria-controls="datatable-editable" tabindex="0" class="sorting">Clases_Utilizadas</th>
                        <th aria-label="Actions" style="width: 116px;" colspan="1" rowspan="1" class="sorting_disabled"></th>
                    </tr>

                </thead>
                <tbody>
                    <!--<tr role="row" class="gradeA odd">
<td class="sorting_1">Cara 1</td>
<td>4/5</td>
<td>8 clases</td>
<td class="actions">
<a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
<a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
<a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
<a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
</td>
</tr>-->
                </tbody>
            </table>
        </div>
        <div class="row" style="margin-left:1206px;">
            <div class="col-sm-6">
                <div class="m-b-30">
                    <button id="btnAdd" onclick="Add()" style=" margin-top:25px" class="btn btn-primary waves-effect waves-light">Agregar <i class="fa fa-plus"></i></button>
                </div>   
            </div>
        </div>

    </div>

    <!-- Boton Siguiente Alumno -->
    <nav style="margin-left: 1125px; margin-top: 10px;">
        <ul class="pager">
            <li><a href="#">Siguiente Alumno</a></li>
        </ul>
    </nav>

    <!-- Boton Trabajo Terminado -->
    <nav style="position: absolute; margin-left: 30px; margin-top: -65px;">
        <ul class="pager">
            <li><a href="#">Trabajo Terminado</a></li>
        </ul>
    </nav>
    <script>
        function courseChanged(val){
            $("#tbleCon tbody").remove();
            $("#cbxSubject").val("").change();
            $("#cbxPupil").val("").change();
            if(val==""){
                var lengthCbx = $('#cbxSubject > option').length;
                $('#cbxSubject').empty();
                $('#cbxPupil').empty();
                $('#cbxSubject').append(new Option("Materia", ""));
                $('#cbxPupil').append(new Option("Alumno", ""));
                return;
            }
            $.ajax({
                url: "{% url 'app_testapp:seg-al' %}", 
                type: 'GET',
                data: {idCourse: $('#cbxCourse').val(), queryId: "subjects"},
                dataType: 'json',
                success: function(info){
                    var lengthCbx = $('#cbxSubject > option').length;
                    $('#cbxSubject').empty();
                    $('#cbxSubject').append(new Option("Materia", ""));
                    for(var i=0;i<info.length;i++){
                        var text = info[i].fields.nameSubject;
                        var value = info[i].pk;
                        $('#cbxSubject').append(new Option(text, value));
                    }
                }});
            $.ajax({
                url: "{% url 'app_testapp:seg-al' %}", 
                type: 'GET',
                data: {idCourse: $('#cbxCourse').val(), queryId: "pupils"},
                dataType: 'json',
                success: function(info){
                    $('#cbxPupil').empty();
                    $('#cbxPupil').append(new Option("Alumno", ""));
                    for(var i=0;i<info.length;i++){
                        var text = info[i].fields.namePupil + " " + info[i].fields.surnamePupil;
                        var value = info[i].pk;
                        $('#cbxPupil').append(new Option(text, value));
                    }}});
            return;
        }
        function subjectChanged(val){
            $.ajax({
                url: "{% url 'app_testapp:seg-al' %}", 
                type: 'GET',
                data: {idSubject: $('#cbxSubject').val(), queryId: "fulfillments"},
                dataType: 'json',
                success: function(info){
                    $("#tbleCon tbody").remove();
                    for(var i=0;i<info[0].fields.nameFF.length;i++){
                        var tbody = $('#tbleCon').children('tbody');
                        var table = tbody.length ? tbody : $('#tbleCon');
                        table.append('<tr><td>' + info[0].fields.nameFF[i] + '</td><td><div class="checkbox checkbox-success checkbox-circle"><input type="checkbox"><label></label></div></td></tr>');
                    }
                }});
            return;
        }
        function pupilChanged(val){
            $('#checkPresence').prop('checked', false);
            $('#obsAlum').val("");
            $.ajax({
                url: "{% url 'app_testapp:seg-al' %}", 
                type: 'GET',
                data: {idPupil: $('#cbxPupil').val(), idSubject: $('#cbxSubject').val(), date: $('#datepicker').val(), queryId: "pupilFollowing"},
                dataType: 'json',
                success: function(info){
                    var presence = info[0].fields.presencePF;
                    var observations = info[0].fields.commentPF;
                    $('#checkPresence').prop('checked', presence);
                    $('#obsAlum').val(observations);
                }});
            return;
        }

        function Add(){
            $("#btnAdd").prop('disabled', true);
            $("#tblData tbody").append(
                "<tr id='prueba'>"+
                "<td><input type='text' id='input1'/></td>"+
                "<td><input type='text' id='input2'/></td>"+
                "<td><input type='text' id='input3'/></td>"+
                "<td><i class='fa fa-save' id='btnSave' onclick='Save()'></i></td>"+
                "</tr>");
            return;
        }

        function Save(){
            //            var par = $(this).parent().parent(); //tr
            //            var Etapas = par.children("td:nth-child(1)");
            //            var Nota = par.children("td:nth-child(2)");
            //            var Clases_Utilizadas = par.children("td:nth-child(3)");
            //            var tdButtons = par.children("td:nth-child(4)");
            //
            //            Etapas.html(Etapas.children("input[type=text]").val());
            //            Nota.html(Nota.children("input[type=text]").val());
            //            Clases_Utilizadas.html(Clases_Utilizadas.children("input[type=text]").val());
            //            tdButtons.html("<i class='fa fa-trash-o' class='btnDelete' onclick='Delete()'></i><i class='fa fa-pencil' class='btnEdit' onclick='Edit()'></i>");
            //            console.log("asd");
            
            var a = $('#input1').val();
            var b = $('#input2').val();
            var c = $('#input3').val();
            $("#tblData tbody").append(
                "<tr id=''>"+
                "<td>" + a + "</td>"+
                "<td>" + b + "</td>"+
                "<td>" + c + "</td>"+
                "</tr>");
            Delete();

        }

        function Edit(){
            var par = $(this).parent().parent(); //tr
            var Etapas = par.children("td:nth-child(1)");
            var tdPhone = par.children("td:nth-child(2)");
            var Clases_Utilizadas = par.children("td:nth-child(3)");
            var tdButtons = par.children("td:nth-child(4)");

            Etapas.html("<input type='text' id='Etapas' value='"+Etapas.html()+"'/>");
            Nota.html("<input type='text' id='Nota' value='"+Nota.html()+"'/>");
            Clases_Utilizadas.html("<input type='text' id='Clases Utilizadas' value='"+Clases_Utilizadas.html()+"'/>");
            tdButtons.html("<i class='fa fa-save' class='btnSave'></i>");

            $(".btnSave").bind("click", Save);
            $(".btnEdit").bind("click", Edit);
            $(".btnDelete").bind("click", Delete);
        }

        function Delete(){
            $("#prueba").remove();
            $("#btnAdd").prop('disabled', false);

            /*var par = $(this).parent().parent(); //tr
            par.remove();*/
        }
    </script>
    {% endblock %}
