{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container" id="HalfPage-Container-A">
    <div class="col-xs-12 col-md-4">
        <!-- Panel "Alumnos" -->
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Alumnos
                </div>
                <div class="panel-body">
                    <select class="selectpicker">
                        <option>Curso</option>
                        <option>1º año A</option>
                        <option>1º año B</option>
                        <option>1º año C</option>
                        <option>2º año A</option>
                        <option>2º año B</option>
                        <option>2º año C</option>
                        <option>3º año A</option>
                        <option>3º año B</option>
                        <option>3º año C</option>
                    </select>
                    <select class="selectpicker">
                        <option>Modulo</option>
                        <option>Ajuste</option>
                        <option>Carpinteria</option>
                        <option>Hojalateria</option>
                    </select>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </button>
                        </span>
                        <input type="text" class="form-control" id="datepicker" name="date" placeholder="Fecha">
                    </div>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Presente</th>
                                <th>Alumno</th>
                                <th>Actividad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Franco Heredia</td>
                                <td style="text-align:center;">C1</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Matias Ferreyra</td>
                                <td style="text-align:center;">-</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Adriel Chagay</td>
                                <td style="text-align:center;">C2</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Santiago Garcia</td>
                                <td style="text-align:center;">C1</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Fabrizio Cuassolo</td>
                                <td style="text-align:center;">-</td>
                            </tr><tr>
                                <td><input type="checkbox"></td>
                                <td>Fabrizio Cuassolo</td>
                                <td style="text-align:center;">-</td>
                            </tr><tr>
                                <td><input type="checkbox"></td>
                                <td>Fabrizio Cuassolo</td>
                                <td style="text-align:center;">-</td>
                            </tr><tr>
                                <td><input type="checkbox"></td>
                                <td>Fabrizio Cuassolo</td>
                                <td style="text-align:center;">-</td>
                            </tr><tr>
                                <td><input type="checkbox"></td>
                                <td>Fabrizio Cuassolo</td>
                                <td style="text-align:center;">-</td>
                            </tr><tr>
                                <td><input type="checkbox"></td>
                                <td>Fabrizio Cuassolo</td>
                                <td style="text-align:center;">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-8">
        <!-- Panel Cumplimientos -->
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Cumplimientos de Franco Heredia
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Check</th>
                                <th>Condicion</th>
                                <th>Porcentaje</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Limas</td>
                                <td style="color:red;font-weight: bold;text-align:center;">50%</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Guardapolvo</td>
                                <td style="color:green;font-weight: bold;text-align:center;">100%</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Antiparras</td>
                                <td style="color:orange;font-weight: bold;text-align:center;">70%</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Guantes</td>
                                <td style="color:green;font-weight: bold;text-align:center;">90%</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Cepillo Limas</td>
                                <td style="color:red;font-weight: bold;text-align:center;">20%</td>
                            </tr><tr>
                                <td><input type="checkbox"></td>
                                <td>Cepillo Limas</td>
                                <td style="color:red;font-weight: bold;text-align:center;">20%</td>
                            </tr><tr>
                                <td><input type="checkbox"></td>
                                <td>Cepillo Limas</td>
                                <td style="color:red;font-weight: bold;text-align:center;">20%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Panel Seguimiento Personal -->
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Seguimiento personal de Franco Heredia
                </div>

                <div class="panel-body">
                    <div class="col-xs-12">
                        <div class="form-group col-xs-12">
                            <label>Actividades</label>
                            <select class="selectpicker">
                                <option>-------</option>
                                <option>Limar como negro</option>
                            </select>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <span>Nombre:</span>
                                <span>Juan</span>
                            </div>
                            <div class="col-xs-6">
                                <span>Codigo:</span>
                                <span>123</span>
                            </div>
                        </div><br>
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <span>Status:</span>
                                <span>sad</span>
                            </div>
                            <div class="col-xs-6">
                                <span>Demora:</span>
                                <span>21312</span>
                            </div>
                        </div><br>
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <span>Velocidad:</span>
                                <span>sad</span>
                            </div>
                            <div class="col-xs-6">
                                <span>Nota:</span>
                                <span>21</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group col-xs-12">
                        <label >Observaciones</label>
                        <textarea class="form-control" rows="4"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Seguimiento del modulo
                </div>
                <div class="panel-body">
                    sdsa
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
