{% extends 'base.html' %}
{% load staticfiles %}
{% block link4 %}
class='active'
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-xs-12 col-md-12">
        <!-- Panel "Alumnos" -->
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Historial
                </div>
                <div class="panel-body">
                    <div class="form-group col-xs-12 col-md-4">
                        <select id="cbxCourse" class="selectpicker" data-width="100%">
                            <option value=''>Curso</option>
                            {% for i in courses %}
                            <option value={{i.idCourse}}>{{i.courseType}}º año "{{i.courseDivision}}"</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-md-4">
                        <select id="cbxModule" class="selectpicker" data-width="100%">
                            <option value=''>Módulo</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-md-4">
                        <select id="cbxStudent" class="selectpicker" data-width="100%">
                            <option value=''>Alumno</option>
                        </select>
                    </div>
                    <table class="table table-responsive" id="historyTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fecha</th>
                                <th>Tarea</th>
                            </tr>
                        </thead>
                        <tbody id="tbHistory">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/jquery-3.1.0.js'%}"></script>
<script src="{% static 'js/bootstrap-select.js'%}"></script>

<!-- Siempre antes de importar la libreria de Pern se debe agregar el siguiente elemento SCRIPT -->
<script> var url = '{% url "app_main:seg-al" %}';</script>
<script src="{% static 'js/seg.js'%}"></script>
{% endblock %}
