{% extends 'base.html' %}
{% load staticfiles %}
{% block link6 %}
    class='active'
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-xs-12 col-md-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Crear nueva Rotación</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group col-xs-12 col-md-4">
                                <input id='txtModuleName' type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1">
                            </div>
                            <div class="form-group col-xs-12 col-md-4">
                                <select id="cbxCourse" class="selectpicker" data-width="100%">
                                    <option value=''>Curso</option>
                                    {% for x in courses %}
                                        <option value={{x.idCourse}}>{{x.courseType}}º año "{{x.courseDivision}}"</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-md-4">
                                <button id="createModulo" type="button" class="btn btn-warning col-xs-12">Crear Rotación</button>
                            </div>
                        </div>
                    </div>
                    <!--Correct Modal -->
                    <div id="correctModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 id='modal-title' class="modal-title">Éxito</h4>
                                </div>
                                <div class="modal-body">
                                    <p id='modal-text'>La Rotación se ha creado con éxito</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Incorrect Modal -->
                    <div id="incorrectModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 id='modal-title' class="modal-title">Error</h4>
                                </div>
                                <div class="modal-body">
                                    <p id='modal-text'>Por favor, rellene los campos correctamente</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Delete Modal -->
                    <div id="deleteModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 id='modal-title' class="modal-title">Confirmación</h4>
                                </div>
                                <div class="modal-body">
                                    <p id='modal-text'>¿Esta seguro que desea borrar esta Rotación?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button id="btnModuleDeleter" type="button" class="btn btn-warning" data-dismiss="modal">Borrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Edit Modal -->
                    <div id="editModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 id='modal-title' class="modal-title">Editar Rotación</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group col-xs-12 col-md-6">
                                        <input id='txtNewModuleName' type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="form-group col-xs-12 col-md-6">
                                        <select id="cbxNewCourse" class="selectpicker" data-width="100%">
                                            <option value=''>Curso</option>
                                            {% for x in courses %}
                                                <option value={{x.idCourse}}>{{x.courseType}}º año "{{x.courseDivision}}"</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button id="btnModuleUpdater" type="button" class="btn btn-warning" data-dismiss="modal">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Lista de Rotaciones</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-xs-12">
                                <select id="cbxCourseFilter" class="selectpicker" data-width="100%">
                                    <option value=''>Curso</option>
                                    {% for x in courses %}
                                        <option value={{x.idCourse}}>{{x.courseType}}º año "{{x.courseDivision}}"</option>
                                    {% endfor %}
                                </select>
                                <table id="tablaRotación" class="table">
                                    <thead>
                                        <tr>
                                            <th>Rotación</th>
                                            <th>Curso</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="moduleTable">
                                        {% for i in modules %}
                                            <tr>
                                                <td>{{i.nameModule}}</td>
                                                <td>{{i.idCourse.courseType}}º
                                                    {{i.idCourse.courseDivision}}</td>
                                                <td>
                                                    <div class="btn-group pull-right" role="group">
                                                        <button type="button" class="btn btn-default btn-sm deleteModule" data-module-id="{{i.idModule}}">
                                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-sm editModule" data-module-id="{{i.idModule}}">
                                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-3.1.0.js'%}"></script>
    <script src="{% static 'js/bootstrap-select.js'%}"></script>
    <script>
        var url = '{% url "app_main:seg-al" %}';
        var urlModule = '{% url "app_main:modules" %}';
    </script>
    <script src="{% static 'js/seg.js'%}"></script>
    <script src="{% static 'js/module.js'%}"></script>

{% endblock %}
{% block scripts %}{% endblock %}
