{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="col-xs-12 col-md-4">
        <!-- Panel "Alumnos" -->
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Alumnos
                </div>
                <div class="panel-body">
                    <select id="cbxCourse" class="selectpicker" data-width="100%">
                        <option value=''>Curso</option>
                        {% for i in courses %}
                        <option value={{i.idCourse}}>{{i.courseType}}º año "{{i.courseDivision}}"</option>
                        {% endfor %}
                    </select>
                    <select id="cbxModule" class="selectpicker" data-width="100%">
                        <option value=''>Módulo</option>
                    </select>
                    <div class="input-group col-xs-12">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </button>
                        </span>
                        <input type="text" class="form-control" id="datepicker" name="date" placeholder="Fecha">
                    </div>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Presente</th>
                                <th>Alumno</th>
                                <th>Actividad</th>
                            </tr>
                        </thead>
                        <tbody id='tbAlumnos'>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-8">
        <!-- Panel Cumplimientos -->
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Cumplimientos de Franco Heredia
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Check</th>
                                <th>Condicion</th>
                                <th>Porcentaje</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Limas</td>
                                <td style="color:red;font-weight: bold;text-align:center;">50%</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Guardapolvo</td>
                                <td style="color:green;font-weight: bold;text-align:center;">100%</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Antiparras</td>
                                <td style="color:orange;font-weight: bold;text-align:center;">70%</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Guantes</td>
                                <td style="color:green;font-weight: bold;text-align:center;">90%</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Cepillo Limas</td>
                                <td style="color:red;font-weight: bold;text-align:center;">20%</td>
                            </tr><tr>
                            <td><input type="checkbox"></td>
                            <td>Cepillo Limas</td>
                            <td style="color:red;font-weight: bold;text-align:center;">20%</td>
                            </tr><tr>
                            <td><input type="checkbox"></td>
                            <td>Cepillo Limas</td>
                            <td style="color:red;font-weight: bold;text-align:center;">20%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Panel Seguimiento Personal -->
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Seguimiento personal de Franco Heredia
                </div>

                <div class="panel-body">
                    <div class="col-xs-12">
                        <div class="form-group col-xs-12">
                            <label>Actividades</label>
                            <select class="selectpicker">
                                <option>-------</option>
                                <option>Limar como negro</option>
                            </select>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <span>Nombre:</span>
                                <span>Juan</span>
                            </div>
                            <div class="col-xs-6">
                                <span>Codigo:</span>
                                <span>123</span>
                            </div>
                        </div><br>
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <span>Status:</span>
                                <span>sad</span>
                            </div>
                            <div class="col-xs-6">
                                <span>Demora:</span>
                                <span>21312</span>
                            </div>
                        </div><br>
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <span>Velocidad:</span>
                                <span>sad</span>
                            </div>
                            <div class="col-xs-6">
                                <span>Nota:</span>
                                <span>21</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group col-xs-12">
                        <label >Observaciones</label>
                        <textarea class="form-control" rows="4"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Seguimiento del modulo
                </div>
                <div class="panel-body">
                    sdsa
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
<script src="{% static 'js/jquery-1.11.1.min.js'%}"></script>
<script src="{% static 'js/bootstrap-select.js'%}"></script>

<!-- Siempre antes de importar la libreria de Pern se debe agregar el siguiente elemento SCRIPT -->
<script> var url = '{% url "app_main:seg-al" %}';</script>
<script src="{% static 'js/seg.js'%}"></script>
<script>
    function getAlumnos(){
        
    }
</script>
{% endblock %}