{% extends 'base.html' %}
{% load staticfiles %}
{% block link5 %}
class='active'
{% endblock %}
{% block content %}

<div align="center" class="container">
    <div>
        <select id="seleccionar-curso" style="width: 50%; margin-bottom: 14px;">
            <option>Seleccionar Curso</option>
            <option>1A</option>
            <option>1B</option>
            <option>1C</option>
            <option>2A</option>
        </select>
    </div>


    <div class="col-xs-12 col-md-5">
        <div>
            <select id="seleccion-especialidad-1" style="width: 70%; margin-bottom: 14px;">
                <option>Ajuste</option>
                <option>Carpinteria</option>
                <option>Electricidad</option>
                <option>Libres</option>
            </select>
            <button type="button" class="btn btn-default" id="vaciar-select-1"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        </div>
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Seleccionar</th>
                                <th>Alumno</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Franco Heredia</td>

                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Matias Ferreyra</td>

                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Adriel Chagay</td>

                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Santiago Garcia</td>

                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Fabrizio Cuassolo</td>

                            </tr><tr>
                            <td><input type="checkbox"></td>
                            <td>Fabrizio Cuassolo</td>

                            </tr><tr>
                            <td><input type="checkbox"></td>
                            <td>Fabrizio Cuassolo</td>

                            </tr><tr>
                            <td><input type="checkbox"></td>
                            <td>Fabrizio Cuassolo</td>

                            </tr><tr>
                            <td><input type="checkbox"></td>
                            <td>Fabrizio Cuassolo</td>

                            </tr><tr>
                            <td><input type="checkbox"></td>
                            <td>Fabrizio Cuassolo</td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <!--Botones para ordenadores y dispositvos medianos-->
    <div class="col-xs-12 col-md-1 hidden-xs" style="margin-top:255px;">
        <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-default" id="pasar-derecha"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-default" id="pasar-izquierda"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-default" id="pasar-todo-derecha"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-default" id="pasar-todo-izquierda"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></button>
        </div>
    </div>
    <!--Botones para smartphones y dispositivos pequeños-->
    <div class="col-xs-12 col-md-1 visible-xs" style="margin-bottom:19px;">
        <div class="btn-group btn-group-lgl" role="group" aria-label="...">
            <button type="button" class="btn btn-default" id="pasar-arriba"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-default" id="pasar-abajo"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-default" id="pasar-todo-arriba"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-default" id="pasar-todo-abajo"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></button>
        </div>
    </div>

    <div class="col-xs-12 col-md-5">
        <div >
            <select id="seleccion-especialidad-2" style="width: 70%; margin-bottom: 14px;">
                <option>Ajuste</option>
                <option>Carpinteria</option>
                <option>Electricidad</option>
                <option>Libres</option>
            </select>
            <button type="button" class="btn btn-default" id="vaciar-select-2"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        </div>
        <div >
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Seleccionar</th>
                                <th>Alumno</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Franco Heredia</td>

                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Matias Ferreyra</td>

                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Adriel Chagay</td>

                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Santiago Garcia</td>

                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Fabrizio Cuassolo</td>

                            </tr><tr>
                            <td><input type="checkbox"></td>
                            <td>Fabrizio Cuassolo</td>

                            </tr><tr>
                            <td><input type="checkbox"></td>
                            <td>Fabrizio Cuassolo</td>

                            </tr><tr>
                            <td><input type="checkbox"></td>
                            <td>Fabrizio Cuassolo</td>

                            </tr><tr>
                            <td><input type="checkbox"></td>
                            <td>Fabrizio Cuassolo</td>

                            </tr><tr>
                            <td><input type="checkbox"></td>
                            <td>Fabrizio Cuassolo</td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div>
        <button type="button" style="width:50%" class="btn btn-default" id="guardar-rotacion"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>Guardar</button>
    </div>







</div>

{% endblock %}


{% block scripts %}

{% endblock %}